{% extends "base.html.twig" %}

{% block title %}
    My Courses
{% endblock %}

{% block body %}
<title>Hello CourseController!</title>

<h1> My Courses </h1>
{% block course_list %}

{% endblock %}

{% endblock %}
