{% extends "base.html.twig" %}

{% from 'macros.html.twig' import breadcrumbs %}

{% block title %}
	My Courses
{% endblock %}

{% block body %}
	<div class="row mb-4">
		<div class="col">
			<h1 class="display-4 mb-4">
				Check In
			</h1>
			<p class="lead">Track your progress in course labs.</p>
			<p>This tool is a way of tracking and communicating your progress in Computer Science. You can see how your experience of a course changes over time and it allows your instructors to identify when you might need extra support based on your feedback.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h2 class="mb-4">My Courses</h2>
			{% block course_list %}{% endblock %}
		</div>
		<div class="col-lg-6">
			<h2 class="mb-4">Recent Pending Labs</h2>
			{% block recent_labs_list %}{% endblock %}
		</div>
	</div>

{% endblock %}
