{% extends "base.html.twig" %}

{% block body %}
<title>Hello CourseController!</title>

<ul>
{% for courseInstance in courseInstances %}
    <li>
        <a href="{{path('view_course', {
            courseId: courseInstance.course.code,
            instanceId: courseInstance.id
        })}}">
             {{courseInstance.course.code}}-{{courseInstance.id}}
        </a>
    </li>
{% endfor %}
</ul>

{% endblock %}
