

{% block xyquestion_row %}
    row
{% endblock %}

{% block xyquestion_label %}
    <h1>{{name}}</h1>
    <p>{{questionText}}</p>
{% endblock %}

{% block xyquestion_widget %}
    hello
{% endblock %}
