

{% block lab_survey_response_row %}
    <h1>{{lab.name}}</h1>
    <small>{{lab.courseInstance.course.code}}</small>
{% endblock %}

{% block lab_survey_response_label %}
    label
{% endblock %}

{% block lab_survey_response_widget %}
    widgh
{% endblock %}
