{% extends "base.html.twig" %}

{% block body %}
	<div id="survey-progress" class="progress mb-4">
		<div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{(questionNumber / questionCount) * 100}}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
	</div>

	<header>
		<h1>{{labName}}</h1>
		<p>{{courseName}}</p>
	</header>

	{# Render the form. This will be the appropriate survey question #}
	<div id="survey-question">
		{{form(form)}}
	</div>
	
	
{% endblock %}

{% block tour_script %}
<script>
tourStep(tour, {
	attachTo: {
		element: '#survey-progress',
		on: 'bottom'
	},
	title: 'Survey progress',
	text: "This bar shows your progress through the survey"
})

tourStep(tour, {
	attachTo: {
		element: '#survey-question',
	},
	title: 'Survey question',
	text: "This is the survey question. If you do not wish to answer this particular question, click the 'skip' button."
})
</script>
{% endblock %