/*
app.scss
Gareth Sears - 2493194S
*/

// The application styling, though most styling is done using pure bootstrap and utility classes.

@import "~bootstrap/scss/bootstrap";
@import "tables";

.flex-form-collection {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &>.form-group {
        width: 33%;

        @include media-breakpoint-down(lg) {
            width: 50%;
        }

        @include media-breakpoint-down(sm) {
            width: 100%;
        }

        font-size: 0.8rem;
    }
}
