{% extends "base.html.twig" %}

{% block body %}
	<h1>Hello World</h1>

	<div id="app"></div>
{% endblock %}

{% block javascripts %}
 {{ encore_entry_script_tags('app') }}
   <script>
   XYQuestionWidgetFactory('#app', [{x:2, y:2}, {x:2, y:2}, {x:2, y:2}, {x:1, y:3}], {
      disableCells: true,
   })
   </script>
{% endblock %}
