{#
sidebar_template.html.twig
Gareth Sears - 2493194S

A sidebar layout base class for pages.
#}

{% extends "base.html.twig" %}

{% block body %}

	<header>
		{% block header %}{% endblock %}
	</header>

	<div class="row mb-4">
		<div class="col-md-8 mt-4">
			{% block main %}{% endblock %}
		</div>
		<div class="col-md-4 mt-4">
			{% block sidebar %}{% endblock %}
		</div>
	</div>

{% endblock %}
